In [1]:
import pandas as pd
import numpy as np

In [3]:
#DataFrama - Conjunto de Series

In [6]:
#Usado para gerar os mesmo random e qualquer maquina
np.random.seed(101)

In [9]:
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [12]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [16]:
#Coluna
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [18]:
#Varias colunas
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [23]:
#Pegar Coluna - n√£o indicado
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [32]:
#Adicionar uma coluna.
df['T'] = df.X + df.Z

In [25]:
df

          W         X         Y         Z         T
A  2.706850  0.628133  0.907969  0.503826  1.131958
B  0.651118 -0.319318 -0.848077  0.605965  0.286647
C -2.018168  0.740122  0.528813 -0.589001  0.151122
D  0.188695 -0.758872 -0.933237  0.955057  0.196184
E  0.190794  1.978757  2.605967  0.683509  2.662266

In [33]:
#Deletar Coluna axis = 0 -> index 
df.drop('T', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df

          W         X         Y         Z         T
A  2.706850  0.628133  0.907969  0.503826  1.131958
B  0.651118 -0.319318 -0.848077  0.605965  0.286647
C -2.018168  0.740122  0.528813 -0.589001  0.151122
D  0.188695 -0.758872 -0.933237  0.955057  0.196184
E  0.190794  1.978757  2.605967  0.683509  2.662266

In [ ]:
# inplace = true -> Deleta diretamaente.

In [30]:
df.drop('T', axis=1, inplace=True)

In [31]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [36]:
#Localiza√ß√£o- atrav√©s dos nomes do indices
df.loc['A','W']

2.706849839399938

In [37]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
T    1.131958
Name: A, dtype: float64

In [39]:
df.loc['A':'B', 'X':'Z']

          X         Y         Z
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965

In [44]:
#Localiza√ß√£o - mesmo que o fateamento do numpy
df.iloc[1:4, 2:]

          Y         Z         T
B -0.848077  0.605965  0.286647
C  0.528813 -0.589001  0.151122
D -0.933237  0.955057  0.196184