In [1]:
import pandas as pd
import numpy as np

In [3]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [7]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -1.004173 -1.808215
   2  0.368753 -0.197080
   3  0.713784 -0.083558
G2 1 -0.484871 -0.360447
   2 -1.147450  1.186314
   3 -2.056943 -1.904799

In [9]:
df.loc['G1']

          A         B
1 -1.004173 -1.808215
2  0.368753 -0.197080
3  0.713784 -0.083558

In [41]:
df.index.names = ['Estado','Cidade']

In [42]:
df

                      A         B
Estado Cidade
G1     1      -1.004173 -1.808215
       2       0.368753 -0.197080
       3       0.713784 -0.083558
G2     1      -0.484871 -0.360447
       2      -1.147450  1.186314
       3      -2.056943 -1.904799

In [14]:
df.xs(1, level="Cidade")

              A         B
Grupo
G1    -1.004173 -1.808215
G2    -0.484871 -0.360447

In [40]:
df.xs(['G1']).loc[1:2]

               A         B
Número
1      -1.004173 -1.808215
2       0.368753 -0.197080